<div class="eachPost confirmBox">
  <div class="postProfilePhoto confirmImg">
    <img src="images/icon-repost.png" alt="Profile Photo">
  </div>
  <div class="eachPostContent">
    <p class="postAuthor">
      <strong>
        Repost this to your followers?
      </strong>
    </p>
    <a class="deletePost yesNo" >Yes</a>
    <a class="deletePost yesNo" >No</a>
  </div>
</div>