{{!-- <div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action 'ok'}}>OK</button>
      </div>
    </div>
  </div>
  <h1>HELLO MODAL</h1>
</div> --}}


<div class="eachPost confirmBox">
  <div class="postProfilePhoto confirmImg">
    <img src="images/icon-repost.png" alt="Profile Photo">
  </div>
  <div class="eachPostContent">
    <p class="postAuthor">
      <strong>
        Repost this to your followers?
      </strong>
    </p>
    <a class="deletePost yesNo" >Yes</a>
    <a class="deletePost yesNo" >No</a>
  </div>
</div>