<div class="eachPost followRow">
  <div class="postProfilePhoto">
    {{#link-to 'user' user.id}}
    <img src="" alt="Profile Photo">
    {{!-- <img {{bind-attr src=user.avatar}} alt="Profile Photo"> --}}
    {{/link-to}}
  </div>
  <div class="eachPostContent">
    <p class="postAuthor">
      <strong>
        {{#link-to 'user' user.id}}
          SampleUser
          {{!-- {{user.id}} --}}
        {{/link-to}}
      </strong>
    </p>
    <button class="followButton toRight">Follow</button>
  </div>
</div>