<div class="eachPost followRow">
  <div class="postProfilePhoto">
    {{#link-to 'user' user.username}}
    <img src="" alt="Profile Photo">
    <img {{bind-attr src=user.username}} alt="Profile Photo">
    {{/link-to}}
  </div>
  <div class="eachPostContent">
    <p class="postAuthor">
      <strong>
        {{#link-to 'user' user.username}}
          {{user}}
        {{/link-to}}
      </strong>
    </p>
    <button class="followButton toRight">Follow</button>
  </div>
</div>