<header class="postsHeader">
  <nav>
    <ul>
      {{#if session.isAuthenticated}}
        <li class="brand">
          <img src="images/icon-home.png" alt="home icon">
          {{#link-to 'posts' }}Home{{/link-to}}
        </li>
      {{/if}}
      <li class="navLogo">
        {{#link-to 'posts' }}
          <img src="images/telegram-logo-small.png" alt="telegram logo">
        {{/link-to}}
      </li>
      {{#if session.isAuthenticated}}
        <li class="userInfoNav">
          {{#link-to 'user' session.user.id}}
            <img {{bind-attr src=session.user.avatar}} alt="profile">
            <p>{{session.user.id}}</p>
          {{/link-to}}
          <a class="logout"  {{action "logout"}}>Logout</a>
        </li>
      {{/if}}
    </ul>      
  </nav>
</header>