<div class="eachPost">
  {{#view 'show-delete'}}
  <div class="postProfilePhoto">
    {{#link-to 'users' }}
    <img src="" alt="Profile Photo">
    {{/link-to}}
  </div>
  <div class="eachPostContent">
    <p class="postAuthor"><strong>{{post.user.id}}</strong></p>
    <p class="postContent">{{post.body}}</p>
    <span class="timePosted"><em>{{format-date date}}</em></span>
      {{#if showDeleteButton}}
{{!--     {{#if view.entered}}
      {{#if isAuthor}}  --}}  
        <a class="deletePost" {{action "removePost" post}}>Delete</a>
{{!--       {{/if}}
    {{/if}} --}}
      {{/if}}
  </div>
  {{/view}}
</div>