<div class="eachPost">
  <div class="postProfilePhoto">
    {{#link-to 'users' }}
    <img src="" alt="Profile Photo">
    {{/link-to}}
  </div>
  <div class="eachPostContent">
    <p class="postAuthor">
      <strong>
        {{#link-to 'user' post.user.id}}
          {{post.user.id}}
        {{/link-to}}
      </strong>
    </p>
    <p class="postContent">{{post.body}}</p>
    <span class="timePosted"><em>{{format-date date}}</em></span>
      {{#if showDeleteButton}}
        <a class="deletePost" {{action "removePost" post}}>Delete</a>
      {{/if}}
  </div>
</div>