<div class="profileArea">
  <img class="profileAvatar" src="" alt="">
  <p><strong>{{model.name}}</strong></p>
  <p class="username">@{{model.id}}</p>
  <button class="followButton">Follow</button>
</div> 