<div class="profileArea">
  <img class="profileAvatar" {{bind-attr src=user.avatar}} alt="Profile Image">
  <p><strong>{{user.name}}</strong></p>
  <p class="username">@{{user.id}}</p>
  <button class="followButton">Follow</button>
</div> 