<p class="get-going">Get going ...</p>
<form {{action login on="submit"}}>
  {{input value=username class="username-password" type="text" placeholder="Enter your username ..." }}
  {{input value=password class="username-password" type="password" placeholder="Enter your password ..." }}
  <button class="login-button" type="submit">Login</button>
  <div class="recover-pass-wrap">
    {{#link-to 'auth.resetpassword' class="recover-pass"}}Reset password{{/link-to}}
    <span class="or">or</span>
    {{#link-to 'auth.register' class="recover-pass"}}Register{{/link-to}}
  </div>
</form>
{{#if error}}
  <span class="alert-msg">Error: {{error}}</span>
{{/if}}