<p class="get-going">Reset password</p>
<form {{action sendpass on="submit"}}>
  {{input value=username class="username-password" type="text" placeholder="Enter your username ..." required="required"}}
  {{input value=email class="username-password" type="text" placeholder="Enter your email ..." required="required"}}
  <button class="login-button" type="submit">Reset password</button>
  <div class="recover-pass-wrap">
    {{#link-to 'auth.register' class="recover-pass"}}Register{{/link-to}}
    <span class="or">or</span>
    {{#link-to 'auth.login' class="recover-pass"}}Login{{/link-to}}
  </div>
</form>
{{#if error}}
  <span class="alert-msg">Error: {{errorMessage}}</span>
{{/if}}