/* General 
======================================== */
html, body{
  font-family: 'Open Sans', sans-serif;  
  background-color: #008CB8;
  padding:0;
  height: 100%;
  max-width: 1980px;
  min-width: 690px;
  margin: auto;
}

body.ember-application {
  font-family: 'Open Sans', sans-serif;  
  background-color: #008CB8;
  padding:0;
  margin:0;
}

a {
  text-decoration: none;
}

div.ember-view {
  margin:0; 
  padding:0;
  width:100%;
}

#ember376.eachPostContent{
  width:100%;
}

button:focus {
  outline:0;
}

button:active,
.logout:active {
  border-color: #ddd;
  background-color: #00CED1;
  /*background-color: #DFDFDF;*/
}

a:hover,
button:hover {
  cursor: pointer;
}

li.search-li {
  margin-left: 20px;
  vertical-align: top;
}

input.search-input {
  border-radius: 20px;
  height: 25px;
  width: 200px;
  border: none;
  background: #ddd;
  padding-left: 10px;
}

input.search-input:focus,
input.search-input:active {
  outline: 0;
};