<header class="postsHeader"><!-- Navigation -->
  <nav>
    <ul>
      <li class="brand">
        <a href="">Home</a>
      </li>
      <li class="navLogo">
        <img src="" alt="telegram logo">
      </li>
      <li class="userInfoNav">
        <a href="">
          <img src="" alt="profile">
          <p>Username</p>
        </a>
      </li>
    </ul>      
  </nav>
</header><!-- END Navigation -->

<div class="postsContainer"><!-- Main content -->
  <div class="innerPostsContent">

    <div class="publishPost">
      <img src="" alt="">
      <p>username</p>
      <span>@username</span>
      <button>Follow</button>
    </div>  

    <div class="latestPostsTitle">
      <h3>Posts</h3>
      <h3>Following</h3>
      <h3>Followers</h3>
    </div>
{{!--     {{#each}}
      <div class="eachPost">
        <div class="postProfilePhoto">
          <img src="" alt="Profile Photo">
        </div>
        <div class="eachPostContent">
          <p class="postAuthor">{{user.username}}</p>
          <p class="postContent">{{body}}</p>
          <span class="timePosted">2 minutes ago</span>
          <a class="deletePost" href="">Delete</a>
        </div>
      </div>
    {{/each}} --}}
  </div>
</div><!-- End Main content -->
