<div class="latestPostsTitle">
  <h3>{{#link-to "user.index"}}Posts{{/link-to}}</h3>
  <h3 class="activePage">Following</h3>
  <h3>{{#link-to "user.followers"}}Followers{{/link-to}}</h3>
</div>
{{#each user in controller}}
	{{follow-user user=user session=controller.session}}
{{/each}}
