<div class="home-box">
  <div class="left-box">
    <div class="telegram-box">
      <img class="telegram" src="images/telegram-logo.png" alt="Telegram">
    </div>
  </div>
  <div class="right-box">  
    <div class="inner-right-box"> 
      <div class="postmark-box">
        <img class="postmark" src="images/postmark.png" alt="Postmark">
      </div>
      <div class="login-form">
        {{outlet}}
      </div>
    </div> 
  </div>
</div>