<!-- Main white box -->
<div class="home-box">

  <!-- Left part of white box area -->
  <div class="left-box">
    <div class="telegram-box">
      <img class="telegram" src="images/telegram-logo.png" alt="Telegram">
    </div>
  </div>

  <!-- Left part of white box area -->
  <div class="right-box">
    
    <div class="inner-right-box"> 

      <div class="postmark-box">
        <img class="postmark" src="images/postmark.png" alt="Postmark">
      </div>

      <div class="login-form">
        <p class="get-going">Get going ...</p>
        <form action="">
          <input class="username-password" type="text" placeholder="Enter your username ...">
          <input class="username-password" type="password" placeholder="Enter your password ...">
          <button class="login-button" type="submit">Login</button>
          <div class="recover-pass-wrap">
            {{#link-to 'resetpassword' class="recover-pass"}}Reset password{{/link-to}}
            <span class="or">or</span>
            {{#link-to 'register' class="recover-pass"}}Register{{/link-to}}
          </div>
        </form>
      </div>

    </div><!--END inner-right-box -->   

  </div><!--END right-box --> 

</div>