<header class="postsHeader"><!-- Navigation -->
  <nav>
    <ul>
      <li class="brand">
        <a href="">Home</a>
      </li>
      <li class="navLogo">
        <img src="" alt="telegram logo">
      </li>
      <li class="userInfoNav">
        <a href="">
          <img src="" alt="profile">
          <p>Username</p>
        </a>
      </li>
    </ul>      
  </nav>
</header><!-- END Navigation -->

<div class="postsContainer"><!-- Main content -->
  <div class="innerPostsContent">

    <div class="publishPost">
      <form action="POST">
        <textarea class="postInput" maxlength="140" placeholder="Write and publish ..."></textarea>
        <button class="publish-button" type="submit">Publish</button>
        <span>140 characters</span>
      </form>
    </div>  

    <div class="latestPostsTitle">
      <h3>Latest Posts</h3>
    </div>

    <div class="eachPost">
      <div class="postProfilePhoto">
        <img src="" alt="Profile Photo">
      </div>
      <div class="eachPostContent">
        <p class="postAuthor">Author 1</p>
        <p class="postContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</p>
        <span class="timePosted">2 minutes ago</span>
        <a class="deletePost" href="">Delete</a>
      </div>
    </div>
    <div class="eachPost">
      <div class="postProfilePhoto">
        <img src="" alt="Profile Photo">
      </div>
      <div class="eachPostContent">
        <p class="postAuthor">Author 2</p>
        <p class="postContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</p>
        <span class="timePosted">5 minutes ago</span>
        <a class="deletePost" href="">Delete</a>
      </div>
    </div>

  </div>
</div><!-- End Main content -->
