<header class="postsHeader"><!-- Navigation -->
  <nav>
    <ul>
      {{#if session.isAuthenticated}}
        <li class="brand">
          <a href="">Home</a>
        </li>
      {{/if}}
      <li class="navLogo">
        <img src="" alt="telegram logo">
      </li>
      {{#if session.isAuthenticated}}
        <li class="userInfoNav">
          <a href="">
            <img src="" alt="profile">
            <p>Username</p>
          </a>
        </li>
      {{/if}}
    </ul>      
  </nav>
</header><!-- END Navigation -->

<div class="postsContainer"><!-- Main content -->
  <div class="innerPostsContent">
    {{#if session.isAuthenticated}}
      <div class="publishPost">
        <form action="POST">
          {{textarea class="postInput" maxlength="140" placeholder="Write and publish ..." value=postBody}}
          <button class="publish-button" type="submit" {{action "publishPost"}}>Publish</button>
          <span>140 characters</span>
        </form>
      </div>  
    {{/if}}
    <div class="latestPostsTitle">
      <h3>Latest Posts</h3>
    </div>
    {{#each}}
      <div class="eachPost">
        <div class="postProfilePhoto">
          <img src="" alt="Profile Photo">
        </div>
        <div class="eachPostContent">
          <p class="postAuthor">{{user.username}}</p>
          <p class="postContent">{{body}}</p>
          <span class="timePosted">2 minutes ago</span>
          <a class="deletePost" href="">Delete</a>
        </div>
      </div>
    {{/each}}
  </div>
</div><!-- End Main content -->
